
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Products", "Shopping", "Products", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Checkout", "Index", "Customers/Create", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>

    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <p>&copy; @DateTime.Now.Year - Oscar Persson S131469, Jonathan Knutsson S143975, Henrik Wistbacka S142066</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
                <p>
                    @Html.ActionLink("Shopping Chart", "Index", "ShoppingChart", new { area = "" }, new { @class = "navbar-brand" })
                    
                </p>
            
            <iframe src=@Url.Action("Index", "ShoppingChart")>
                @*<iframe srcdoc="<h2>It is hard to load the shoppingChart into this iframe</h2>">*@
                @*<iframe srcdoc=@RenderPage("~/Views/ShoppingChart/Index.cshtml", @WebApplication3.Models.ShoppingChart.getInstance())></iframe>*@
            </iframe>
</footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>