@model IEnumerable<WebApplication3.Models.Orderline>

@{
    ViewBag.Title = "OrderDetailsLine";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ArtID)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Antal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ArtID)
            </td>
                       
            <td>
                @Html.DisplayFor(modelItem => item.Antal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderlineID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderlineID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderlineID })
            </td>
        </tr>
    }

</table>
