@model IEnumerable<WebApplication3.Models.Orderline>

@{
    ViewBag.Title = "OrderSearch";
}

<h2>Your order:</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ArtID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Antal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ArtID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Antal)
            </td>
        </tr>

    }
  
</table>
