@model IEnumerable<WebApplication3.Models.ChartObject>

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Your shopping chart contains the following products:</h2>

    <table class="table">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProdName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(model => item.ProdName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Count)
                    </td>
 
                </tr>
            }

    </table>


