@model IEnumerable<WebApplication3.Models.Product>

@{
    ViewBag.Title = "Products in the system";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")



    @using (Html.BeginForm())
    {
    <p>
        Description: @Html.DropDownList("Description", "All")
        Article Name: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
    }

</p>






<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ArtName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>

        <td>            
            @Html.ActionLink(item.ArtName, "Details", new { id = item.ProductID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
