@model IEnumerable<WebApplication3.Models.Product>

@{
    ViewBag.Title = "Shopping";
}

<h2>Get some! Get some!</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Description: @Html.DropDownList("Description", "All")
        Article Name: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
    }

</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ArtName, "CustomerDetails", new { id = item.ProductID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            Quantity: 
            @Html.TextBox("Quantity") |
            @Html.ActionLink("Buy", "Buy", new { id=item.ProductID }) |
        </td>
    </tr>
}

</table>
